<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="LegacyMathUrl" value="http://localhost:8085/Legacy/LegacyMath.asmx"/>
    <add key="CustomerServiceUrl" value="http://localhost:8085/Services/CustomerService.svc"/>
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.8" />
    <httpRuntime targetFramework="4.8" />
    <httpHandlers>
    <add path="Handlers/WcfCustomerProxy.ashx" verb="GET,POST" type="Contoso.LegacyMvc.Handlers.WcfCustomerProxy"/>
  </httpHandlers>
</system.web>
</configuration>

<system.webServer>
  <handlers>
    <add name="WcfCustomerProxy" path="Handlers/WcfCustomerProxy.ashx" verb="GET,POST" type="Contoso.LegacyMvc.Handlers.WcfCustomerProxy" resourceType="Unspecified" preCondition="integratedMode"/>
  </handlers>
</system.webServer>
