<?xml version="1.0"?>
<configuration>
  <system.serviceModel>
    <services>
      <service name="Services.CustomerMgmt.Wcf.CustomerService" behaviorConfiguration="DefaultBehavior">
        <endpoint address="basic"
                  binding="basicHttpBinding"
                  contract="Services.CustomerMgmt.Wcf.ICustomerService" />
        <endpoint address="ws"
                  binding="wsHttpBinding"
                  contract="Services.CustomerMgmt.Wcf.ICustomerService" />
        <endpoint address="mex"
                  binding="mexHttpBinding"
                  contract="IMetadataExchange" />
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior name="DefaultBehavior">
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="false" />
          <serviceDebug includeExceptionDetailInFaults="true" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <bindings>
      <basicHttpBinding>
        <binding name="CustomerBasic" />
      </basicHttpBinding>
      <wsHttpBinding>
        <binding name="CustomerWs" />
      </wsHttpBinding>
    </bindings>
  </system.serviceModel>
</configuration>
