server:
  port: 8081

spring:
  application:
    name: account-service

management:
  endpoints:
    web:
      exposure:
        include: health,info,metrics,trace
  tracing:
    enabled: true
    sampling:
      probability: 1.0
  zipkin:
    tracing:
      endpoint: http://localhost:9411/api/v2/spans

logging:
  level:
    root: INFO
    org.springframework.web: INFO
    com.example.accountservice: DEBUG
  pattern:
    level: "%5p [traceId=%X{traceId:-}, spanId=%X{spanId:-}]"
