<?xml version="1.0"?>
<configuration>
  <connectionStrings>
    <add name="ContosoDb" connectionString="Server=(localdb)\MSSQLLocalDB;Database=ContosoLegacy;Trusted_Connection=True;" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.8"/>
  </system.web>
  <system.serviceModel>
    <services>
      <service name="Contoso.BackendServices.Services.CustomerService">
        <endpoint address="" binding="basicHttpBinding" contract="Contoso.BackendServices.Services.ICustomerService"/>
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8085/Services/CustomerService.svc"/>
          </baseAddresses>
        </host>
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior>
          <serviceMetadata httpGetEnabled="true"/>
          <serviceDebug includeExceptionDetailInFaults="true"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true"/>
  </system.serviceModel>
</configuration>
