<?xml version="1.0"?>
<configuration>
  <system.serviceModel>
    <services>
      <service name="Services.OrderProcessing.Wcf.OrderService" behaviorConfiguration="OrderBehavior">
        <endpoint address="basic"
                  binding="basicHttpBinding"
                  contract="Services.OrderProcessing.Wcf.IOrderService" />
        <endpoint address="nettcp"
                  binding="netTcpBinding"
                  contract="Services.OrderProcessing.Wcf.IOrderService" />
        <endpoint address="mex"
                  binding="mexHttpBinding"
                  contract="IMetadataExchange" />
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior name="OrderBehavior">
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="false" />
          <serviceDebug includeExceptionDetailInFaults="true" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <bindings>
      <basicHttpBinding>
        <binding name="OrderBasic" />
      </basicHttpBinding>
      <netTcpBinding>
        <binding name="OrderTcp" />
      </netTcpBinding>
    </bindings>
  </system.serviceModel>
</configuration>
